<launch>
    <!-- ========== 参数 ========== -->
    <arg name="use_rviz" default="true"/>
    
    <!-- ========== AMCL 定位 ========== -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <remap from="scan" to="/scan"/>
        <remap from="odom" to="/Odometry"/>  <!-- 正确！ -->
        <rosparam file="/home/qili/catkin_ws/src/final/config/navigation/amcl.yaml" command="load" ns="amcl"/>
    </node>
    
    <!-- ========== Move Base 导航 ========== -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <remap from="cmd_vel" to="/cmd_vel"/>
    <rosparam file="$(find final)/config/navigation/move_base_params.yaml" command="load"/>
    <rosparam file="$(find final)/config/navigation/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find final)/config/navigation/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find final)/config/navigation/dwa_local_planner_params.yaml" command="load"/>
    <rosparam file="$(find final)/config/navigation/global_planner_params.yaml" command="load"/>
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <param name="robot_radius" value="0.3"/>
  </node>
    
    <!-- ========== RViz 可视化 ========== -->
    <group if="$(arg use_rviz)">
        <node pkg="rviz" type="rviz" name="rviz_navigation" 
              args="-d $(find final)/rviz/navigation.rviz"/>
    </group>
</launch>